@import '../../style/variables.css';
@import '../../style/layout.css';
@import '../../style/text.css';


.login-options {
    width: 100%;
    align-self: flex-start;
}

.login-link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #E73F3F;
    transition: color 0.3s ease;

    &:hover {
        color: var(--title-color);
    }

    &:active {
        color: var(--title-2-color);
    }
}

.login-button {
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--title-color);
}

.login-button:hover {
    background-color: var(--title-2-color);
}
