.header-bell {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--default-color);
    margin-right: 20px;
}

.bell-icon {
    color: var(--icon-color);
    font-size: 17px;
}

.header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.header-greeting {
    font-size: 14px;
    color: #888;
}

.header-username {
    font-size: 16px;
    font-weight: 500;
}

.breadcrumb-item {
    display: inline-flex;
    align-items: center;
    color: #7E7D88;
}

.breadcrumb-icon {
    margin: 0 8px; /* Khoảng cách giữa các item */
}

.breadcrumb-item:last-child {
    color: #FF7506; /* Màu cho breadcrumb cuối cùng */
}
