.centered-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-column-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-row-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row-justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-columm {
    display: flex;
    flex-direction: column;
}

.flex-columm-justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row-align-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}