:root {
    --default-color: #FFF2E7;
    --title-color: #FF9138;
    --title-2-color: #FF7506;
    --icon-color: #FFAC6A;
    --success-color: #28a745;
    --danger-color: #E73F3F;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --muted-color: #667085;
    --white-color: #ffffff;
    --menu-color: #5D6679;
    --black-color: #000000;
    --background-color: #F6F6F6;
}