@import '../../style/variables.css';
@import '../../style/layout.css';
@import '../../style/text.css';


.forgot-password-button-group {
    gap: 20px;
    margin: 30px 0px;

    .button-wrapper {
        display: inline-block;
        width: 100%;
    }
}